header {
  padding-top: 20px;
  width: 100%;
}

.hero img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main > h1 {
  margin: 25px 0 0;
  padding-bottom: 10px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

form {
  margin-top: 10px;
}

input {
  padding: 5px 3px;
  text-align: center;
  margin-top: 15px;
  border-radius: var(--main-border-radius);
  border: 1px solid var(--primary-color);
  min-width: 200px;
}

form > button {
  background-color: var(--secondary-color);
  margin-top: 10px;
}

form > button:hover {
  background-color: var(--secondary-hover-bg);
}

.error {
  margin-top: 10px;
  height: 20px;
  color: red;
}